body {
    background-color: #f7f7f7;
}

a {
    color: #000;
}

a:hover {
    color: #717171;
    text-decoration: none;
}

.toolbar {
    box-shadow: 0 5px 15px -2px #b1b1b15e;
    -moz-box-shadow: 0 5px 15px -2px #b1b1b15e;
    -webkit-box-shadow: 0 5px 15px -2px #b1b1b15e;
}

.fbicon:hover i {
    color: #3C5A9A;
}

.twicon:hover i {
    color: #00ACED;
}

.insicon:hover i {
    color: #BD00BA;
}

.pinicon:hover i {
    color: #CB2027;
}

.search:hover i {
    color: #000;
}

.arrows,
.leftarrow,
.rightarrow,
.hotnews,
.top-social ul li,
.search,
.top-social {
    display: inline-block;
}

.recent-comment h5 {
    font-weight: normal;
    border-bottom: 2px solid #EAEAEA;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.top-social ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.top-social ul li i {
    color: #999999;
    font-size: 20px;
    padding: 0px 10px;
}

.top-social {
    padding: 14px;
    border-left: 2px solid #EBEBEB;
    border-right: 2px solid #EBEBEB;
}

.search i {
    color: #999999;
    font-size: 20px;
    padding: 0px 10px;
}

.hotnews {
    margin-bottom: 0px;
}

.arrows,
.search {
    padding: 14px;
}

.logo {
    margin: 0 auto;
    padding: 50px 20px;
}

.cdosnav {
    margin: 0 auto;
}

.cdosnav .nav-link {
    padding: 10px 20px !important;
}

#navsec {
    border-top: 2px solid #EBEBEB;
    border-bottom: 2px solid #EBEBEB;
}

.featuredimg {
    /* background-image: url(..//asset/images/topbanner.jpg); */
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cdos-footer {
    background-color: #EAEAEA;
    padding: 50px 40px 0px 40px;
    margin-top: 50px;
}

.foo-title {
    margin-bottom: 25px;
}

#cdos-footer .badge {
    padding: 8px 10px;
    margin: 10px;
}

.foo-links ul {
    list-style: none;
    padding-left: 10px;
}

.foo-links a {
    color: #000;
}

.foo-links li {
    margin-bottom: 10px;
}

.copy-right {
    width: 100%;
    border-top: 1px solid #C1C1C1;
    margin-top: 30px;
}

.copy-right p {
    padding: 30px;
    margin-bottom: 0px;
}

.featured-meta {
    background-color: #ffffff75;
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    padding: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.featured-meta h2 {
    font-size: 26px;
    font-weight: bold;
    border-top: 2px solid #afafaf;
    border-bottom: 2px solid #afafaf;
    padding: 15px 0px;
}

.featured-meta p {
    margin-bottom: 10px;
}

.featured-meta span {
    padding: 0px 8px;
}

#newsletter {
    background-color: #EBEBEB;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 5px 15px -2px #b1b1b15e;
}

#newsletter h3 {
    font-size: 25px;
}

#newsletter-form {
    padding: 25px 0px;
}

#blogsec {
    margin: 50px 0px;
}

.blog-content {
    padding: 20px;
}

.blog-post {
    margin-bottom: 40px;
    max-width: 30.33%;
    float: left;
    box-shadow: 0 0px 10px #b1b1b15e;
    margin: 1.5%;
    background-color: #fff;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

.blog-post:hover {
    /* -webkit-transform: translateY(-3px);
    transform: translateY(-3px); */
    box-shadow: 3px 3px 10px #b1b1b15e;
}

.blog-post h2 {
    font-size: 22px;
}

.img-thumb img {
    width: 100%;
}

.blog-meta {
    border-top: 2px solid #EBEBEB;
    padding-top: 10px;
}

.blog-meta a {
    color: #212529;
}

.cedo-pagi {
    margin: 50px auto 0px auto;
}

.img-thumb img {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blog-post .img-thumb a:before {
    content: "";
    display: block;
    background: #ffffff52;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.blog-post:hover .img-thumb a:before {
    opacity: 1;
    visibility: visible;
}

.cedo-pagi .page-link {
    color: #000;
}

.blog-post:hover h2 {
    color: #717171;
}

.blog-post:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.img-thumb {
    position: relative;
    overflow: hidden;
}

.single-page .featured-meta {
    max-width: unset;
}

.single-page .featured-meta h2 {
    font-size: 35px;
}

.featuredsec {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.featuredimg:hover .featured-meta {
    background-color: #ffffffad;
}

.popular-thumb img {
    width: 100px;
}

.popular-thumb {
    float: left;
    padding-right: 25px;
}

.btn-gray {
    background-color: #EAEAEA;
    text-transform: uppercase;
    font-size: 18px;
}

.btn-gray:hover {
    background-color: #999999;
}

.comment-form input,
.comment-form textarea {
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #d4d4d4;
}

.comment-form textarea {
    height: 150px;
    margin-top: 20px;
}

.author-box {
    background-color: #EAEAEA;
    padding: 30px;
    margin-bottom: 50px;
}

.comment-title {
    background-color: #EAEAEA;
    padding: 10px;
    margin-bottom: 20px;
}

.comment-title h4 {
    margin-bottom: 0px;
}

.blog-single {
    margin-bottom: 50px;
}

.comment-sec {
    margin-bottom: 50px;
}

.author-img {
    width: 100px;
    float: left;
    margin-right: 20px;
}

.author-img img {
    width: 100%;
}

.popular-post {
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

.popular-post h5 {
    font-size: 16px;
}

.popular-meta p {
    font-size: 13px;
}

.search-modal .modal-dialog {
    max-width: 800px;
}

.search-modal {
    background: #f7f7f7e3;
}

.search-modal .modal-content {
    background-color: transparent;
    border: 0px solid rgba(0, 0, 0, .2);
}

.search-modal .search-submit {
    display: none;
}

.search-modal .modal-title {
    margin: 0 auto;
    text-align: center;
}

.search-modal .close {
    padding: 0rem;
    margin: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

.search-modal .close span {
    font-size: 50px;
    font-weight: normal;
}

.cdos-search-field {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #969696;
    border-radius: 0px;
    font-size: 50px;
    text-align: center;
}

.popular-widget .popular-post {
    width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
}

@media (max-width: 991px) {
    .blog-post h2 {
        font-size: 18px;
    }
    .logo {
        padding: 30px 20px 15px 20px;
    }
    .logo img {
        max-width: 200px;
    }
    #navsec .collapse.show {
        background-color: #999999;
    }
    .cdosnav {
        margin: 0 auto;
        width: 100%;
        padding: 0px;
        background: #999999;
    }
    #navsec .navbar-toggler {
        background-color: #999999;
        border-radius: 0;
        width: 100%;
    }
    #navsec .nav-item .nav-link {
        color: #F7F7F7;
        border-bottom: 1px solid #CCCCCC;
    }
    .navbar-toggler-icon {
        filter: invert(100%);
    }
    #navsec {
        border-top: 0px solid #EBEBEB;
        border-bottom: 0px solid #EBEBEB;
    }
    .hotNewsSec {
        display: none;
    }
}

@media (max-width: 767px) {
    #newsletter h3 {
        font-size: 20px;
    }
    .featuredimg .featured-meta h1 {
        font-size: 28px;
    }
    .featuredimg {
        height: 300px;
    }
    .author-img {
        width: 100%;
        float: none;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .author-img img {
        max-width: 100px;
    }
    .popular-thumb {
        padding-right: 15px;
    }
    .popular-content {
        display: grid;
    }
    .popular-post h5 {
        font-size: 14px;
    }
    #cdos-footer {
        padding: 50px 20px 0px 20px;
    }
    #cdos-footer .col-md-4 {
        margin-top: 30px;
    }
    .cdos-search-field {
        font-size: 30px;
    }
    .blog-post {
        max-width: 100%;
        margin: 15px;
    }
    .popular-post {
        width: 100%;
        margin-bottom: 20px;
    }
    #newsletter-form .btn-light {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .socialsec {
        max-width: 100%;
        flex: 100%;
        text-align: center !important;
    }
    .container {
        max-width: 900px;
    }
    .hotnewbar {
        max-width: 100%;
        flex: 100%;
        text-align: center;
    }
    .popular-post h5 {
        font-size: 14px;
    }
    .popular-content {
        display: grid;
    }
    .recent-comment h5 {
        font-size: 16px;
    }
    .popular-thumb {
        padding-right: 15px;
    }
    #newsletter h3 {
        font-size: 20px;
    }
    .blog-post h2 {
        font-size: 18px;
    }
}