.admin-post-thumb {
    width: 100px;
}
.post-edit-sidebar {
    background-color: #E9ECEF;
    height: 100vh;
    padding: 35px;
}
.post-edit-sidebar .form-group {
    border: 2px solid #ccc;
    padding: 20px;
}
.post-edit-sidebar label {
    display: block;
    font-size: 20px;
}
.post-edit-sidebar .form-group img {
    padding-top: 15px;
}
.bg-dark-purple {
    background-color: #413256;
}
#bulkoptionsec {
    margin-bottom: 15px;
    display: inline-block;
}
.bulkoption {
    width: 300px;
    float: left;
    margin-right: 20px;
}
#mainNav .navbar-brand {
    display: contents !important;
}
.navbar-brand i {
    margin-right: 10px;
}